<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BLOG</title>
    <link rel="stylesheet" href="../public/login.css">
</head>
<body>

    <h2>Log In</h2>

    <form action="/login" method="post">
    <input type="text" name="name" placeholder="name">
    <input type="password" name="password" placeholder="password">
    <input type="submit">
    </form>

    <a href="/signup" target="_blank" rel="noopener noreferrer">make a new account</a>
    
</body>
</html>